
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

/*Body index.html*/
#Home
{
    margin: 0px;
    background-image: url('img/netflix-background-9.jpg');
    font-family: 'open sans';sans serif,
}

body
{
    margin: 0px;
    font-family: 'open sans';sans serif,
}
/* Body profile*/
#profile,#films
{
    background-color:#141414 ;
}
*{
    box-sizing: border-box; 
}
/* Body profile*/
nav
{

  
    background-color:transparent;
    height: 250px;
    display: flex;
    z-index: 9; /*Lorsque lien n'a plus de pointer*/

}
nav img{
    width: 80px;
    padding-top: 20px;
}

/* Formulaire */
form
{
    background-color:rgb(0,0,0.75);/*Rbg opacité .75 > - 75*/
    /* lement prenne plus de place deborde = suppr la hauteur height: 250Px;*/
    width: 400Px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffffff;
    
}
.formulaire
{
    display: flex;
    justify-content: center;
    margin-top: 150px;

 
}

input
{
    padding: 16px 20px;/* padding : quatre cotés des elements, 20Px top et bottom */
    margin: 5px 0;/*pading top et sur côté*/
    border: none;
    color:#ffffff ;
    border-radius: 4px; 
    background-color: #333;
    font-size: 16px;
    opacity: .8;
    outline: none;/* rétirer selecteur bleu*/
    

}
input[ type=submit]/* rajouter un id à input ou class*/
{
    background-color:rgb(211, 8, 18);
    font-weight: 700;/* le met en bold*/
    text-transform: uppercase;
    cursor: pointer;
}
input[ type=submit]:hover
{
    background-color: rgb(173, 8, 16);
}

input[type=email]:focus,input[type=password]:focus{
    opacity: 1;
    background-color: ;
}

.color-gris  /* ou imposer label color label ou marf
gin left label pour ecarter de la chexbox */
{
    color: #737373;
}
 a{
     color: #ffffff;
 }
 /* Formulaire */

 /*Zone de selection de profil*/
 h1
 {
     color: #ffffff;
     font-size: 30px;
     text-align: center;
 }
 .profil img
 {
    
    border: 2px transparent;
    width: 100%;
 }
.profil:hover img
{
    border: 2px solid  #ffffff;
   
}
.profil img,.profil p
{
    border: 2px transparent;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.profil :hover p {
    color: #ffffff;
}

.profil a
{
    text-decoration: none;
}
.profil
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 50px;
}

 /*Fin zone profil */
 /* Manage profil*/
a{
    text-decoration: none;
    color: #808080;
    text-align: center;

}
.text-border
{
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  margin-top: 50px;
  color: #808080;
}

.row 
{
 text-align: center;
}

.text-border:hover
{
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
 /*Fin zone profil */

/*Films*/
.nav-bar a
{
   color: #ffffff;
  
}

ul{
    list-style-type: none;
    display: flex;
    


}
.nav-bar a
{
    margin-left: 10px;
}

/*Video*/

video
{
    width: 100%;

}
#video{
    height: 600px;
    overflow: hidden;
}
#films nav
{
    position: absolute;/*Menu se fixe sur img*/
    width: 100%;
    top: 0;
    left: 0;
    
}

h2{
    color: #ffffff;
}
.container
{
    display: flex;
    justify-content: space-between; 
   

    
}

.row-space-between
{
    padding: 10px;
}
p{
color: #ffffff;
}

.video-text div
{
    width: 50%;
   
}

.content
{
    display: flex;
}
